body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    /* -webkit-text-size-adjust: none; */            /* prevent webkit from resizing text to fit */
    -webkit-user-select: text;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    margin-top: 0px;
    overflow:hidden;
    width: 320px;
    font-size: 14px;
}

.mpage {
    position: absolute;
    z-index: 10;

    background-color: #fff;

    -webkit-transition: left 0.5s ease, -webkit-transform 0.5s ease;ut;
}

.onDisp {
    left: 0px;
}

.gotoDisp {
    z-index: 0;
    -webkit-transition: left 0s;
}

.nextDisp {
    z-index: 0;
    -webkit-transition: left 0s;
}

.zoomDisp {
    left: 0px;
    z-index: 0;
    -webkit-transform: scale(0.1, 0.1);
    -webkit-transition: -webkit-transform 0s;
}

.title {
    padding: 0;
    margin: 0.25em;
    font-size: 1.5em;
    font-eight: 700;
    line-height: 1.4em;
    text-align: center;
}

.heading {
    padding: 10px 10px;
    border-bottom: 1px solid #ddd;
}

/* Below are styles for individual pages */
#edit #cameraPic {
    width: 200px;
    border: 1px #c0c0c0 solid;
    margin-bottom: 2em;
}
